last 2 Edge versions
Edge 97
Edge 96
last 4 Chrome versions
Chrome 97
Chrome 96
Chrome 95
Chrome 94
last 3 Firefox versions
Firefox 96
Firefox 95
Firefox 94
last 2 Safari versions
Safari 15
Safari 14
last 2 iOS versions
iOS 13
iOS 12
last 2 ChromeAndroid versions
ChromeAndroid 10
ChromeAndroid 9